In [2]:
import pandas as pd
import numpy as np
from datetime import date
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

# Função para ler dados direto do DATASUS

In [3]:
def read_data_sus(url, rows=int, footer=int):
    '''
    Função para ler dados .csv obtidos da plataforma DATASUS.
    :param url: endereço url do data frame.
    :param rows: Números de linhas  do começo do dataframe que seram cortadas no momento da importação
    :param footer: Número de linhas do final do dataframe que seram cortadas no momento da importação
    :return: Dataframe importado do DATASUS.
    '''
    data = pd.read_csv(url, encoding="ISO-8859-1", skiprows=rows, sep=";", skipfooter=footer, thousands='.',decimal=',', engine='python')
    return data

# Cobertura Vacinal 1994 -2019

In [4]:
cobertura_vacinal_por_ano_imuno = read_data_sus('https://raw.githubusercontent.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/main/dados_brutos/T1_Cobertura_vacinal_por_ano_imuno.csv',3,20)

In [5]:
cobertura_vacinal_por_ano_imuno = cobertura_vacinal_por_ano_imuno.set_index('Imuno')
cobertura_vacinal_por_ano_imuno.index = cobertura_vacinal_por_ano_imuno.index.str[4:]
cobertura_vacinal_por_ano_imuno = cobertura_vacinal_por_ano_imuno.drop(columns=['Total'])

In [6]:
cobertura_vacinal_por_ano_imuno = cobertura_vacinal_por_ano_imuno.replace('-', np.nan)
cobertura_vacinal_por_ano_imuno = cobertura_vacinal_por_ano_imuno.astype('float64')
cobertura_vacinal_por_ano_imuno = cobertura_vacinal_por_ano_imuno.T
cobertura_vacinal_por_ano_imuno.head()

Imuno,BCG,Hepatite B em crianças até 30 dias,Rotavírus Humano,Meningococo C,Hepatite B,Penta,Pneumocócica,Poliomielite,Poliomielite 4 anos,Febre Amarela,...,Tríplice Viral D1,Tríplice Viral D2,Tetra Viral(SRC+VZ),DTP,DTP REF (4 e 6 anos),Tríplice Bacteriana(DTP)(1º ref),Sarampo,Haemophilus influenzae b,Dupla adulto e tríplice acelular gestante,dTpa gestante
1994,88.29,NaN,NaN,NaN,8.85,NaN,NaN,58.23,NaN,5.27,...,NaN,NaN,NaN,64.75,NaN,NaN,71.35,NaN,NaN,NaN
1995,103.62,NaN,NaN,NaN,10.50,NaN,NaN,77.82,NaN,4.81,...,NaN,NaN,NaN,80.53,NaN,NaN,86.85,0.00,NaN,NaN
1996,104.19,NaN,NaN,NaN,16.50,NaN,NaN,80.85,NaN,5.65,...,NaN,NaN,NaN,78.24,NaN,NaN,80.39,0.01,NaN,NaN
1997,117.12,NaN,NaN,NaN,5.79,NaN,NaN,89.27,NaN,7.84,...,NaN,NaN,NaN,78.50,NaN,NaN,108.61,0.03,NaN,NaN
1998,111.61,NaN,NaN,NaN,12.63,NaN,NaN,95.30,NaN,18.49,...,NaN,NaN,NaN,92.97,NaN,NaN,95.26,0.84,NaN,NaN

In [7]:
cobertura_vacinal_por_ano_imuno_aberta = cobertura_vacinal_por_ano_imuno.reset_index().melt(id_vars=['index'], value_vars=cobertura_vacinal_por_ano_imuno.columns)
cobertura_vacinal_por_ano_imuno_aberta.columns = ['Ano', 'Imuno', 'Cobertura Vacinal']
cobertura_vacinal_por_ano_imuno_aberta

      Ano          Imuno  Cobertura Vacinal
0    1994            BCG              88.29
1    1995            BCG             103.62
2    1996            BCG             104.19
3    1997            BCG             117.12
4    1998            BCG             111.61
..    ...            ...                ...
619  2015  dTpa gestante              44.97
620  2016  dTpa gestante              33.81
621  2017  dTpa gestante              42.36
622  2018  dTpa gestante              63.06
623  2019  dTpa gestante              41.97

[624 rows x 3 columns]

In [8]:
#cobertura_vacinal_por_ano_imuno_aberta.to_csv('cobertura_vacinal_por_ano_imuno_aberta.csv',na_rep= 'N/A', index=False)

# Cobertura Vacinal por Imuno em cada Estado

In [9]:
cobertura_vacina_por_uf_imuno = read_data_sus('https://raw.githubusercontent.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/main/dados_brutos/T2_Cobertura_vanial_por_UF_imuno.csv',3,20)

In [10]:
cobertura_vacina_por_uf_imuno = cobertura_vacina_por_uf_imuno.set_index('Imuno')
cobertura_vacina_por_uf_imuno.index = cobertura_vacina_por_uf_imuno.index.str[4:]
cobertura_vacina_por_uf_imuno = cobertura_vacina_por_uf_imuno.drop(columns = ['Total'])
cobertura_vacina_por_uf_imuno = cobertura_vacina_por_uf_imuno.T
cobertura_vacina_por_uf_imuno.head()

Imuno,BCG,Hepatite B em crianças até 30 dias,Rotavírus Humano,Meningococo C,Hepatite B,Penta,Pneumocócica,Poliomielite,Poliomielite 4 anos,Febre Amarela,...,Tríplice Viral D1,Tríplice Viral D2,Tetra Viral(SRC+VZ),DTP,DTP REF (4 e 6 anos),Tríplice Bacteriana(DTP)(1º ref),Sarampo,Haemophilus influenzae b,Dupla adulto e tríplice acelular gestante,dTpa gestante
RO,105.11,77.44,61.92,60.80,91.29,87.89,89.21,96.58,0.03,92.06,...,102.28,83.98,73.95,90.75,3.84,79.65,86.23,25.12,53.88,39.87
AC,105.54,60.09,49.50,50.59,74.94,64.19,64.09,88.50,1.87,76.83,...,89.16,54.17,48.82,70.37,4.94,60.67,69.04,11.12,28.64,20.42
AM,107.99,74.39,49.73,55.81,72.97,73.35,71.17,83.79,0.18,80.30,...,86.94,69.89,62.40,73.76,4.17,67.25,72.68,19.29,47.39,40.24
RR,113.28,79.26,56.47,61.78,81.64,77.28,78.81,90.74,0.40,83.87,...,90.17,75.17,70.88,83.04,5.31,77.28,89.77,26.70,44.48,41.19
PA,110.41,60.20,46.96,45.99,71.09,60.53,60.49,88.23,0.03,75.05,...,94.87,51.81,45.06,78.37,3.29,57.81,80.50,22.59,29.93,20.42

In [12]:
cobertura_vacina_por_uf_imuno_aberta = cobertura_vacina_por_uf_imuno.reset_index().melt(id_vars=['index'], value_vars=cobertura_vacina_por_uf_imuno.columns)
cobertura_vacina_por_uf_imuno_aberta.columns = ['UF', 'Imuno', 'Cobertura Vacinal']
cobertura_vacina_por_uf_imuno_aberta.head()

   UF Imuno  Cobertura Vacinal
0  RO   BCG             105.11
1  AC   BCG             105.54
2  AM   BCG             107.99
3  RR   BCG             113.28
4  PA   BCG             110.41

In [13]:
cobertura_vacina_por_uf_imuno_aberta.to_csv('cobertura_vacina_por_uf_imuno_aberta.csv',na_rep= 'N/A', index=False)

# Cobertura Vacinal por Ano em cada Estado

In [14]:
total_cobertura_vacina_por_ano_uf = read_data_sus('https://raw.githubusercontent.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/main/dados_brutos/T3_Total_cobetura_vacina_por_ano_UF.csv',3,20)

In [15]:
total_cobertura_vacina_por_ano_uf = total_cobertura_vacina_por_ano_uf.set_index('Unidade da Federação')
total_cobertura_vacina_por_ano_uf = total_cobertura_vacina_por_ano_uf.drop(columns = ['Total'])
total_cobertura_vacina_por_ano_uf.index = total_cobertura_vacina_por_ano_uf.index.str[3:]
total_cobertura_vacina_por_ano_uf = total_cobertura_vacina_por_ano_uf.T
total_cobertura_vacina_por_ano_uf.head()

Unidade da Federação,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,Tocantins,Maranhão,Piauí,Ceará,...,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal
1994,42.76,20.53,20.15,64.06,32.44,NaN,NaN,27.43,62.22,49.20,...,55.22,NaN,NaN,NaN,51.60,NaN,NaN,31.76,22.37,NaN
1995,50.80,46.61,35.82,88.84,40.11,34.68,NaN,35.69,48.16,50.06,...,74.91,43.29,45.01,35.30,55.47,65.25,NaN,37.67,69.81,0.34
1996,76.05,36.59,49.88,89.18,51.26,44.75,65.44,41.05,46.40,60.28,...,75.62,36.26,44.86,51.84,48.53,58.90,39.02,37.44,66.93,55.99
1997,83.33,67.56,72.01,80.26,67.09,52.06,56.24,60.33,57.65,74.00,...,77.78,69.12,74.70,76.53,73.29,65.07,70.62,74.22,70.07,64.17
1998,93.26,66.38,70.62,97.45,67.46,73.77,86.73,68.09,64.59,64.09,...,89.21,73.78,79.73,63.40,71.64,63.25,75.01,78.08,73.23,84.43

In [17]:
total_cobertura_vacina_por_ano_uf_aberta = total_cobertura_vacina_por_ano_uf.reset_index().melt(id_vars=['index'], value_vars=total_cobertura_vacina_por_ano_uf.columns)
total_cobertura_vacina_por_ano_uf_aberta.columns= ['Ano', 'UF', 'Cobertura Vacinal']
total_cobertura_vacina_por_ano_uf_aberta.head()

    Ano        UF  Cobertura Vacinal
0  1994  Rondônia              42.76
1  1995  Rondônia              50.80
2  1996  Rondônia              76.05
3  1997  Rondônia              83.33
4  1998  Rondônia              93.26

In [18]:
total_cobertura_vacina_por_ano_uf_aberta.to_csv('total_cobertura_vacina_por_ano_uf_aberta.csv',na_rep= 'N/A', index=False)

# Abandono Vacinal de 2015 a 2019

In [19]:
taxa_abandono_vacinal_br = read_data_sus('https://raw.githubusercontent.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/main/dados_brutos/T4_taxa_abandono_vacinal_por_ano.csv',0,0)
taxa_abandono_vacinal_br = taxa_abandono_vacinal_br.set_index('Imunobiológicos')
taxa_abandono_vacinal_br = taxa_abandono_vacinal_br.drop(columns =[' Total'])
taxa_abandono_vacinal_br = taxa_abandono_vacinal_br.T
taxa_abandono_vacinal_br = taxa_abandono_vacinal_br.drop(columns = ['Ignorado'])
taxa_abandono_vacinal_br = taxa_abandono_vacinal_br.reset_index()
taxa_abandono_vacinal_br.columns = ['Ano', 'Cobertura Vacinal']
taxa_abandono_vacinal_br.head()

    Ano  Cobertura Vacinal
0  2015              15.83
1  2016              14.00
2  2017              16.42
3  2018              15.34
4  2019              21.60

In [20]:
taxa_abandono_vacinal_br.to_csv('taxa_abandono_vacinal_br.csv',na_rep= 'N/A')

# Abandono Vacinal total por Estado

In [21]:
taxa_abandono_vacinal_total_uf = read_data_sus('https://raw.githubusercontent.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/main/dados_brutos/T5_taxa_abandono_vacinal_total_1994_2021_por_Estado.csv',0,0)
taxa_abandono_vacinal_total_uf = taxa_abandono_vacinal_total_uf.set_index('Imunobiológicos')

In [22]:
taxa_abandono_vacinal_total_uf = taxa_abandono_vacinal_total_uf.drop(columns =[' Total'])
taxa_abandono_vacinal_total_uf = taxa_abandono_vacinal_total_uf.T
taxa_abandono_vacinal_total_uf = taxa_abandono_vacinal_total_uf.drop(columns =['Ignorado'])
taxa_abandono_vacinal_total_uf.head()

Imunobiológicos  Total
Acre             22.44
Alagoas          20.89
Amapá            28.66
Amazonas         18.40
Bahia            16.88

In [23]:
#taxa_abandono_vacinal_total_uf.to_csv('taxa_abandono_vacinal_total_uf.csv', na_rep='N/A')

# Casos de Hepatite A por Ano

In [24]:
casos_hepatite_a = pd.read_csv('https://raw.githubusercontent.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/main/dados_brutos/Casos_hepatite_A.csv', 
                   encoding="utf_8", skiprows=0, sep=",", skipfooter=0, thousands='.',decimal=',', engine='python')

casos_hepatite_a = casos_hepatite_a.drop(columns=['Total','1999-2006' ])
casos_hepatite_a = casos_hepatite_a.set_index('Hepatite A')
casos_hepatite_a = casos_hepatite_a.T
casos_hepatite_a = casos_hepatite_a.rename(columns= {'Casos' : 'Casos Hepatite A', 'Taxa de Incidência': 'Taxa de Incidência Hepatite A'}, inplace=False)
casos_hepatite_a.head()

Hepatite A  Casos Hepatite A  Taxa de Incidência Hepatite A
2007                 13351.0                            7.1
2008                  1168.0                            6.2
2009                  1092.0                            5.7
2010                  6929.0                            3.6
2011                  7468.0                            3.9

In [25]:
casos_hepatite_a.to_csv('casos_hepatite_a.csv')

# Casos de Hepatite B

In [26]:
casos_hepatite_b = pd.read_csv('https://raw.githubusercontent.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/main/dados_brutos/Casos_hepatite_B.csv', 
                   encoding="utf_8", skiprows=0, sep=",", skipfooter=0, thousands='.',decimal=',', engine='python')

casos_hepatite_b = casos_hepatite_b.drop(columns=['Total','1999-2006' ])
casos_hepatite_b = casos_hepatite_b.set_index('Hepatite B')
casos_hepatite_b = casos_hepatite_b.T
casos_hepatite_b = casos_hepatite_b.rename(columns= {'Casos' : 'Casos Hepatite B', 'Taxa de Incidência': 'Taxa de Incidência Hepatite B'}, inplace=False)
casos_hepatite_b.head()

Hepatite B  Casos Hepatite B  Taxa de Incidência Hepatite B
2007                 12406.0                            6.6
2008                   134.0                            7.1
2009                 15004.0                            7.8
2010                 13711.0                            7.2
2011                 16683.0                            8.7

In [27]:
casos_hepatite_b.to_csv('casos_hepatite_b.csv')

# Casos Hepatite A e B juntas

In [28]:
hepatite_a_b = casos_hepatite_a.join(casos_hepatite_b)
hepatite_a_b = hepatite_a_b.drop(columns='Casos Hepatite A')
hepatite_a_b = hepatite_a_b.drop(columns='Casos Hepatite B')
hepatite_a_b.head()

      Taxa de Incidência Hepatite A  Taxa de Incidência Hepatite B
2007                            7.1                            6.6
2008                            6.2                            7.1
2009                            5.7                            7.8
2010                            3.6                            7.2
2011                            3.9                            8.7

In [29]:
hepatite_a_b_aberta = hepatite_a_b.reset_index().melt(id_vars=['index'], value_vars=hepatite_a_b.columns)
hepatite_a_b_aberta 
hepatite_a_b_aberta.columns= ['Ano', 'Hepatites', 'Incidência']
hepatite_a_b_aberta.head()

    Ano                      Hepatites  Incidência
0  2007  Taxa de Incidência Hepatite A         7.1
1  2008  Taxa de Incidência Hepatite A         6.2
2  2009  Taxa de Incidência Hepatite A         5.7
3  2010  Taxa de Incidência Hepatite A         3.6
4  2011  Taxa de Incidência Hepatite A         3.9

In [ ]:
hepatite_a_b_aberta.to_csv('hepatite_a_b_aberta.csv')

# Casos de Sarampo por Ano

In [30]:
sarampo = pd.read_csv('https://raw.githubusercontent.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/main/dados_brutos/Casos_sarampo2.csv', 
                   encoding="utf_8", skiprows=1, sep=",", skipfooter=8, thousands='.',decimal=',', engine='python')
sarampo =sarampo.set_index('Ano')
sarampo = sarampo.T

In [31]:
sarampo.head()

Ano   Casos no Brasil
1990            61435
1991            42532
1992             7934
1993             2396
1994             1262

In [32]:
#sarampo.to_csv('sarampo.csv')

# Casos de Tuberculose

In [33]:
tuberculose = read_data_sus('https://raw.githubusercontent.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/main/dados_brutos/T6_casos_confirmados_tuberculose.csv',3,18)

In [34]:
tuberculose = tuberculose.drop(columns='Total')
tuberculose =tuberculose.set_index('UF de residência')
tuberculose_brasil = tuberculose.loc['Total']
tuberculose = tuberculose.drop(['Total'])
tuberculose.index = tuberculose.index.str[3:]
tuberculose = tuberculose.T
tuberculose = tuberculose.drop(columns='Ignorado/exterior')
tuberculose

UF de residência,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,Tocantins,Maranhão,Piauí,Ceará,...,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal
2001,672,357,2330,144,3600,214,317,3088,1379,4253,...,1632,16968,19139,3204,1702,5231,978,1458,1220,383
2002,637,364,2279,172,3882,288,309,3204,1351,4392,...,1569,16781,19046,3410,1875,5508,910,1278,1205,384
2003,648,367,2369,198,4038,263,282,3164,1251,4586,...,1559,16125,18389,3425,1906,5790,1007,1289,1277,418
2004,627,353,2557,215,4146,268,274,3180,1349,4473,...,1529,15832,17601,3251,1880,5902,1024,1177,1142,395
2005,630,319,2485,147,4040,271,258,3381,1349,4658,...,1439,15324,17539,3395,1846,5660,1039,1344,1156,414
2006,521,389,2429,138,3831,245,261,3056,1137,4141,...,1350,14195,18054,2818,1827,5151,881,1333,1015,399
2007,551,305,2454,132,3821,269,235,2978,1152,4170,...,1426,14199,17618,3047,1873,5494,948,1179,1032,445
2008,566,298,2691,148,3842,266,209,2628,1046,4477,...,1528,14676,18430,2970,2026,5688,1008,1288,996,382
2009,681,352,2617,139,4140,250,236,2588,969,4667,...,1427,14384,17807,2787,2002,6105,1042,1161,1047,335
2010,571,340,2753,139,4161,216,209,2518,883,4316,...,1466,14250,18178,2760,2074,6172,937,1369,1060,333
2011,680,389,2685,164,4370,255,222,2585,912,4402,...,1437,14335,19045,2711,2219,6361,1045,1371,1053,364
2012,692,392,2842,131,4093,242,208,2280,833,4233,...,1449,14018,18641,2522,2232,6404,1090,1580,1118,438
2013,699,391,3066,166,4167,210,205,2360,820,4055,...,1381,13347,19481,2648,2269,6346,1096,1889,1124,366
2014,679,440,3173,143,3985,205,186,2168,755,3877,...,1312,13106,19995,2546,2248,6368,995,1779,1039,422
2015,653,348,3420,172,4031,219,186,2281,704,4012,...,1389,13369,20334,2469,2178,6378,1005,1447,1135,396
2016,763,443,3271,158,4254,273,212,2492,761,4044,...,1240,13647,20536,2437,2197,6039,1130,1460,1072,386
2017,773,485,3683,209,4546,288,190,2507,755,4290,...,1325,13930,22064,2496,2230,6594,1140,1422,1210,361
2018,676,483,3789,266,4721,274,235,2688,841,4555,...,1480,14825,22214,2848,2287,6903,1455,1405,1263,419
2019,739,585,3944,325,5565,352,249,2704,833,4542,...,1490,14967,21899,2866,2279,7636,1407,1513,1235,424
2020,575,539,3493,289,4461,269,205,2366,722,3695,...,1725,13080,19015,2803,1517,6322,1174,1176,986,345

In [36]:
tuberculose_aberta = tuberculose.reset_index().melt(id_vars=['index'])
tuberculose_aberta.columns = ['Ano', 'UF', 'Casos de Tuberculose']
tuberculose_aberta.head()

    Ano        UF  Casos de Tuberculose
0  2001  Rondônia                   672
1  2002  Rondônia                   637
2  2003  Rondônia                   648
3  2004  Rondônia                   627
4  2005  Rondônia                   630

In [37]:
tuberculose_aberta.to_csv('tuberculose_aberta.csv')

# Total de casos de Tuberculose no Brasil por ano

In [38]:
tuberculose_brasil.columns = ['Ano', 'Casos']
tuberculose_brasil

2001    87265
2002    92859
2003    93773
2004    92979
2005    92055
2006    85031
2007    84600
2008    86768
2009    86318
2010    85381
2011    87813
2012    86183
2013    86208
2014    85213
2015    85452
2016    86207
2017    91301
2018    95539
2019    97629
2020    83678
Name: Total, dtype: int64

In [39]:
tuberculose_brasil.to_csv('tuberculose_brasil.csv')

# Cobertura vacinal sarampo nos estados que registram surto

In [40]:
sarampo_surto = read_data_sus('https://raw.githubusercontent.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/main/dados_brutos/Cobertura_vacinal_Sarampo_estados_surto.csv',0,1)

In [41]:
sarampo_surto = sarampo_surto.drop(columns=' Total')
sarampo_surto = sarampo_surto.drop(columns='2021')
sarampo_surto = sarampo_surto.set_index('Unidade da Federação')
sarampo_surto.index = sarampo_surto.index.str[3:]
sarampo_surto = sarampo_surto.T
sarampo_surto

Unidade da Federação,Pará,Rio de Janeiro,São Paulo,Paraná,Santa Catarina
2000,10.14,89.41,105.38,91.12,95.57
2001,47.94,90.78,105.13,101.36,101.09
2002,120.34,96.23,105.13,101.72,91.38
2003,124.98,114.46,119.88,107.13,115.37
2004,143.10,105.97,104.30,93.89,97.79
2005,116.35,107.75,102.04,99.78,101.01
2006,113.05,102.12,101.19,101.21,100.38
2007,118.49,100.54,100.23,103.17,102.40
2008,111.83,95.46,96.68,94.48,96.43
2009,117.62,96.69,99.13,100.19,103.11
2010,110.95,94.98,94.91,95.64,101.30
2011,109.25,107.16,100.34,98.59,99.79
2012,102.20,97.18,99.54,99.94,100.35
2013,98.49,108.16,103.37,110.21,104.61
2014,115.73,112.48,105.02,113.35,112.20
2015,71.92,105.42,97.91,99.44,103.42
2016,69.61,109.26,92.96,91.87,98.97
2017,67.51,94.29,86.72,88.13,91.81
2018,77.30,99.66,91.46,89.78,92.12
2019,82.81,96.58,91.80,91.99,95.82
2020,61.60,59.65,85.21,85.02,86.34

In [42]:
sarampo_surto_aberta = sarampo_surto.reset_index().melt(id_vars=['index'])
sarampo_surto_aberta.columns = ['Ano', 'UF', 'Cobertura vacinal']
sarampo_surto_aberta

      Ano              UF  Cobertura vacinal
0    2000            Pará              10.14
1    2001            Pará              47.94
2    2002            Pará             120.34
3    2003            Pará             124.98
4    2004            Pará             143.10
..    ...             ...                ...
100  2016  Santa Catarina              98.97
101  2017  Santa Catarina              91.81
102  2018  Santa Catarina              92.12
103  2019  Santa Catarina              95.82
104  2020  Santa Catarina              86.34

[105 rows x 3 columns]

In [43]:
sarampo_surto_aberta.to_csv('sarampo_surto_aberta.csv')

# IDAH e abandono Vacinal juntos

In [44]:
idh = pd.read_csv('https://raw.githubusercontent.com/GabrielDalBen/Onde_esta_o_ze_gotinha_BootCamp_M2/main/dados_brutos/idh.csv')
idh = idh.drop(columns ='Unnamed: 0')
idh = idh.drop(columns ='Posição em 2017[1]')
idh = idh.drop(columns ='Comparação com 2016[1]')
idh = idh.drop(columns = 'Em 2016')
idh = idh.drop(columns = 'País comparável[nota 2][2]')

In [45]:
idh.columns = ['UF', 'IDH']

In [46]:
idh = idh.set_index('UF')

In [47]:
idh_abandono = idh.join(taxa_abandono_vacinal_total_uf)

In [48]:
idh_abandono.columns=['IDH', 'Abandono vacinal']

In [49]:
idh_abandono

                       IDH  Abandono vacinal
UF
Distrito Federal     0.850             17.99
São Paulo            0.826             17.24
Santa Catarina       0.808             13.75
Rio de Janeiro       0.796              8.69
Paraná               0.792             14.24
Minas Gerais         0.787             14.96
Rio Grande do Sul    0.787             13.12
Mato Grosso          0.774             13.22
Espírito Santo       0.772             15.33
Goiás                0.769             13.71
Mato Grosso do Sul   0.766             15.03
Roraima              0.752             14.02
Tocantins            0.743             14.76
Amapá                0.740             28.66
Ceará                0.735             18.09
Amazonas             0.733             18.40
Rio Grande do Norte  0.731             21.18
Pernambuco           0.727             15.86
Rondônia             0.725             15.92
Paraíba              0.722             16.28
Acre                 0.719             22.44
Bahia                0.714             16.88
Sergipe              0.702             21.87
Pará                 0.698             23.13
Piauí                0.697             14.45
Maranhão             0.687             19.74
Alagoas              0.683             20.89

In [50]:
idh_abandono.to_csv('idh_abandono.csv')